@import "tailwindcss";

@layer components {
  .sidebarLink {
    @apply text-[#F2E8D5] w-full text-center py-2 rounded-lg 
    font-semibold hover:bg-[#3B2F2F]/60 border border-transparent
    hover:border-[#8B5E3C]/40 transition-all;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes scaleFade {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-fade {
  animation: scaleFade 0.18s ease-out forwards;
}
